a:link, a:visited, a:hover {
  text-decoration: none;
  color: hsla(197, 78%, 98%, 1.00);
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: hsla(0, 0%, 57%, 1.00);
}
.container {
  width: 1300px;
  margin: 0 auto;
  background-color: hsla(0, 0%, 100%, 1.00);
}
/* Header */
.header {
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg');
  height: 523px;
}
.mainhead { /* Background Header & Size */
  width: 1300px;
  text-align: center;
}
h1 { /* Big Text Title */
  font-family: 'Open Sans', sans-serif;
  font-size: 98px;
  font-weight: 100;
  text-decoration: none;
  padding: 136px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  color: hsla(0, 0%, 100%, 1);
  clear: both;
}
.mainhead > p { /* Under Big Text */
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: hsla(203, 100%, 16%, 1);
  margin: -18px;
}
#bloglink, #navmenu {
  color: hsla(203, 100%, 16%, 1.00);
}
#bloglink { /* Top Left on Header */
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/logo.png');
  background-repeat: no-repeat;
  padding: 13px 0px 12px 60px;
  margin: 10px 0px 0px 140px;
  display: block;
  float: left;
}
#bloglink > p {
  margin: -2px 0px 0px -3px;
}
#navmenu { /* Top Right on Header */
  display: block;
  float: right;
  margin: 2px 160px 1px 1px;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
#navmenu li { /* Lines up Nav Horizontally */
  display: inline;
  padding: 1px 1px 1px 1px;
}
#search { /* Search Button */
  margin-left: 16px;
}
#searchicon{ /* Search Icon */
  margin: 5px 5px 5px 5px;
  position: relative;
  top: 3px;
  right: 3px;
}

/* Body */
.middle {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.maincontent {
  width: 604px;
  float: left;
  margin-left: 164px;
  padding-top: 18px;
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 66px;
}
.authorinfo {
  padding: 0px 0px 0px 0px;
  margin: -41px 0px 1px -7px;
}
#miniface {
  width: 20px;
  margin: 0px 2px -4px 10px;
}
#authorname {
  color: hsla(207, 63%, 46%, 1.00);
  margin: 0px 0px 10px 8px;
  font-size: 13px;
}
#date {
  font-size: 13px;
  padding: 0px 11px;
}
blockquote {
  font-size: 30px;
  border-left: 2px solid hsla(0, 0%, 84%, 1.00);
  margin-left: 6px;
  padding: 12px 0px 0px 17px;
  height: 44px;
  color: hsla(207, 100%, 36%, 1.00);
}
/* Right Side Bar */
.rightsidebar {
  width: 290px;
  margin-right: 154px;
  margin-top: 68px;
  float: right;
}
.authoraboutme {
  text-align: center;
}
.authoraboutme ul {
  padding-left: 0px;
}
#authorbigface {
  width: 80px;
  margin: 0 auto;
  list-style: none;
}
#annemarie {
  color: hsla(207, 63%, 46%, 1.00);
  list-style: none;
  margin-top: 4px;
}
#sociallinks {
  list-style: none;
  position: relative;
  color: hsla(203, 21%, 67%, 1.00);
  margin: 0px;
  padding: 0px;
}
#sociallinks li {
  display: inline;
}
.ad {
  text-align: center;
  margin-top: 48px;
}
.ad p {
  width: 100%;
  text-align: right;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 1px;
  margin-left: -6px;
  color: hsla(206, 21%, 74%, 1.00);
}
.sidebartext {
  width: 100%;
  text-align: left;
  margin: 47px 0px 0px 5px;
  font-size: 15px;
}
h3 {
  font-size: 16px;
  font-weight: 100;
  margin: 0px 0px -8px 3px;
  color: hsla(209, 61%, 46%, 1.00);
}

/* Buttons at the end of article */
.bottombuttons {
  width: 500px;
  margin-left: 166px;
  padding-right: 0px;
  font-size: 13px;
}
.bottombuttons div {
  display: inline;
}
.readcomments, .readlater, .sharethispost {
  padding: 5px;
  color: hsla(0, 0%, 100%, 1.00);
  position: relative;
}
.readcomments {
  background-color: hsla(204, 10%, 40%, 1.00);
  height: 30px;
  margin: 0px 26px 0px -1px;
}
.readcomments:hover {
  background-color: hsla(204, 100%, 16%, 1.00);
}
.readcomments a:hover {
  background-color: hsla(206, 100%, 36%, 1.00);
}
.readcomments img {
  padding: 1px 4px 0px 3px;
  margin: 1px 0px -2px 2px;
}
.readcomments a {
  padding: 5px 15px 5px 11px;
  margin: 0px -20px 0px 4px;
  background-color: hsla(204, 21%, 69%, 1.00);
}
.readlater {
  width: 140px;
  height: 30px;
  margin: 0px 9px 0px -4px;
  padding: 5px 14px 5px 0px;
  background-color: hsla(204, 10%, 40%, 1.00);
}
.readlater a {
  padding: 5px 20px 5px 11px;
  margin-right: -17px;
}
.readlater img {
  padding: 0px 1px 0px 2px;
  margin: 0px 7px -2px 8px;
}
.readlater:hover {
  background-color: hsla(204, 100%, 16%, 1.00);
}
.readlater a:hover {
  background-color: hsla(206, 100%, 36%, 1.00);
}
.sharethispost {
  width: 150px;
  height: 30px;
  margin: 0px 0px 0px 1px;
  padding: 5px 0px 5px 1px;
  background-color: hsla(204, 10%, 40%, 1.00);
}
.sharethispost a {
  padding: 5px 18px 5px 12px;
  margin: 1px 0px 1px 1px;
}
.sharethispost img {
  padding: 1px 3px 0px 6px;
  margin: 2px 3px -2px 4px;
}
.sharethispost:hover {
  background-color: hsla(204, 100%, 16%, 1.00);
}
.sharethispost a:hover {
  background-color: hsla(206, 100%, 36%, 1.00);
}
.iconbuttons {
  width: 15px;
  height: 14px;
}
.icontext {
  background-color: hsla(204, 21%, 69%, 1.00);
}

/* Footer */
.footer {
  height: 100%;
  overflow: auto;
  margin: 10px 0px -1px -1px;
  padding: 19px 0px 0px 0px;

}
.footer h2 {
  border-top: 3px solid hsla(200, 18%, 97%, 1.00);
  padding: 37px 7px 0px 0px;
  text-align: center;
  margin: 43px 0px 43px 1px;
  font-size: 63px;
}
.articleimgs {
  position: relative;
}
.articleimgs ul {
  margin: 0px;
  padding: 1px;
  height: 330px;
  overflow: auto;
}
.articleimgs li {
  list-style: none;
  height: 330px;
  width: 324.5px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 27px;
  font-weight: 100;
  display: block;
  float: left;
  color: hsla(205, 100%, 15%, 1.00); /* dark blue*/
}
.articleimgs li:hover {
  color: hsla(45, 10%, 92%, 1.00); /* white*/
}
#one span {
  position: relative;
  top: 281px;
  left: 20px;
}
#one a {
  background-color: hsla(206, 100%, 36%, 0.80);
  width: 325px;
  height: 330px;
  display: block;
  position: relative;
  float: left;
}
#one a:hover {
  background-color: hsla(206, 100%, 36%, 0.0);
}
#two span {
  position: relative;
  top: 281px;
  left: 20px;
}
#two a {
  background-color: hsla(206, 100%, 36%, 0.80);
  width: 325px;
  height: 330px;
  display: block;
  position: relative;
  float: left;
}
#two a:hover {
  background-color: hsla(206, 100%, 36%, 0.0);
}
#three span {
  position: relative;
  top: 242px;
  left: 20px;
}
#three a {
  background-color: hsla(206, 100%, 36%, 0.80);
  width: 324px;
  height: 330px;
  display: block;
  position: relative;
  float: left;
}
#three a:hover {
  background-color: hsla(206, 100%, 36%, 0.0);
}
#four span {
  position: relative;
  top: 281px;
  left: 20px;
}
#four a {
  background-color: hsla(206, 100%, 36%, 0.80);
  width: 327px;
  height: 330px;
  display: block;
  position: relative;
  float: left;
}
#four a:hover {
  background-color: hsla(206, 100%, 36%, 0.0);
}
#one #two #three #four {
  height: 330px;
  margin: 0px;
}
#one {
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-1.jpg');
}
#two {
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-2.jpg');
}
#three {
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-3.jpg');
}
#four {
  background-image: url('https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-4.jpg');
}
.copywrite {
  height: 76px;
  background-color: hsla(204, 100%, 16%, 1.00);
  color: hsla(204, 21%, 69%, 1.00);
  padding: 25px 100px 0px 165px;
  margin: 0px 0px 0px 0px;
}
.copywrite img {
  margin: 0px 5px -7px 0px;
}
.copywrite span {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 12px;
  font-size: 13px;
}
.footernav {
  position: relative;
  float: right;
  font-size: 14px;
  padding: 0px 42px 1px 1px;
}
.footernav li {
  display: inline;
}
