/* ===== Colors ===== */
/* ===== Fixed Sizes ===== */
/* ===== Fonts ===== */
a:link, a:visited, a:hover {
  text-decoration: none;
  color: #f6fcfe; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #919191; }

.container {
  width: 1300px;
  margin: 0 auto;
  background-color: white; }

/* ===== Header ===== */
.header {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/header.jpg");
  height: 523px; }

.mainhead {
  /* Background Header & Size */
  width: 1300px;
  text-align: center; }
  .mainhead p {
    /* Under Big Text */
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    color: #003252;
    margin: -18px; }
  .mainhead ul {
    color: #003252; }

h1 {
  /* Big Text Title */
  font-family: "Open Sans", sans-serif;
  font-size: 98px;
  font-weight: 100;
  text-decoration: none;
  padding: 136px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  color: white;
  clear: both; }

.bloglink {
  /* Top Left on Header */
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/logo.png");
  background-repeat: no-repeat;
  padding: 13px 0px 12px 60px;
  margin: 10px 0px 0px 140px;
  display: block;
  float: left; }
  .bloglink p {
    margin: -2px 0px 0px -3px; }

.navmenu {
  /* Top Right on Header */
  display: block;
  float: right;
  margin: 2px 160px 1px 1px;
  font-size: 16px;
  font-family: "Oswald", sans-serif; }
  .navmenu li {
    /* Lines up Nav Horizontally */
    display: inline;
    padding: 1px 1px 1px 1px; }

.searchicon {
  /* Search Icon */
  margin: 5px 5px 5px 21px;
  position: relative;
  top: 3px;
  right: 3px; }

/* ===== Body ===== */
.middle {
  width: 100%;
  height: 100%;
  overflow: auto; }

.maincontent {
  width: 604px;
  float: left;
  margin-left: 164px;
  padding-top: 18px; }

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 66px; }

.authorinfo {
  padding: 0px 0px 0px 0px;
  margin: -41px 0px 1px -7px; }
  .authorinfo img {
    width: 20px;
    margin: 0px 2px -4px 10px; }
  .authorinfo span {
    color: #2b7dbf;
    margin: 0px 0px 10px 8px;
    font-size: 13px; }
  .authorinfo a {
    font-size: 13px;
    padding: 0px 11px;
    color: #b3c2cc; }

blockquote {
  font-size: 30px;
  border-left: 2px solid #b3c2cc;
  margin-left: 6px;
  padding: 12px 0px 0px 17px;
  height: 44px;
  color: #2b7dbf; }

/* Right Side Bar */
.rightsidebar {
  width: 290px;
  margin-right: 154px;
  margin-top: 68px;
  float: right; }

.authoraboutme {
  text-align: center; }
  .authoraboutme li {
    list-style-type: none; }
  .authoraboutme img {
    width: 80px;
    margin: 0 auto; }
  .authoraboutme ul {
    padding-left: 0px; }
  .authoraboutme span {
    color: #2b7dbf;
    margin-top: 4px; }

.sociallinks {
  position: relative;
  color: #b3c2cc;
  margin: 0px;
  padding: 0px; }
  .sociallinks li {
    display: inline; }

.ad {
  text-align: center;
  margin-top: 48px; }
  .ad p {
    width: 100%;
    text-align: right;
    text-decoration: underline;
    font-size: 14px;
    margin-top: 1px;
    margin-left: -6px;
    color: #b3c2cc; }

.sidebartext {
  width: 100%;
  text-align: left;
  margin: 47px 0px 0px 5px;
  font-size: 15px; }

h3 {
  font-size: 16px;
  font-weight: 100;
  margin: 0px 0px -8px 3px;
  color: #003252; }

/* ===== Buttons at the end of article ===== */
.bottombuttons {
  width: 500px;
  margin-left: 166px;
  padding-right: 0px;
  font-size: 13px; }
  .bottombuttons div {
    display: inline; }

.readcomments {
  padding: 5px;
  color: white;
  position: relative;
  background-color: #5c6870;
  height: 30px;
  margin: 0px 26px 0px -1px; }
  .readcomments img {
    padding: 1px 4px 0px 3px;
    margin: 1px 0px -2px 2px; }
  .readcomments a {
    padding: 5px 15px 5px 11px;
    margin: 0px -20px 0px 4px;
    background-color: #9fb3c1; }

.readcomments:hover {
  background-color: #003152; }

.readcomments a:hover {
  background-color: #0068b8; }

.readlater {
  padding: 5px;
  color: white;
  position: relative;
  background-color: #5c6870;
  width: 140px;
  height: 30px;
  margin: 0px 9px 0px -4px;
  padding: 5px 14px 5px 0px; }
  .readlater a {
    padding: 5px 20px 5px 11px;
    margin-right: -17px;
    background-color: #9fb3c1; }
  .readlater img {
    padding: 0px 1px 0px 2px;
    margin: 0px 7px -2px 8px; }

.readlater:hover {
  background-color: #003152; }

.readlater a:hover {
  background-color: #0068b8; }

.sharethispost {
  padding: 5px;
  color: white;
  position: relative;
  background-color: #5c6870;
  width: 150px;
  height: 30px;
  margin: 0px 0px 0px 1px;
  padding: 5px 0px 5px 1px; }
  .sharethispost a {
    padding: 5px 18px 5px 12px;
    margin: 1px 0px 1px 1px; }
  .sharethispost img {
    padding: 1px 3px 0px 6px;
    margin: 2px 3px -2px 4px; }

.sharethispost:hover {
  background-color: #003152; }

.sharethispost a:hover {
  background-color: #0068b8; }

.iconbuttons {
  width: 15px;
  height: 14px; }

.icontext {
  background-color: #b3c2cc; }

/* Footer */
.footer {
  height: 100%;
  overflow: auto;
  margin: 10px 0px -1px -1px;
  padding: 19px 0px 0px 0px; }
  .footer h2 {
    border-top: 3px solid #f6f8f9;
    padding: 37px 7px 0px 0px;
    text-align: center;
    margin: 43px 0px 43px 1px;
    font-size: 63px; }

.articleimgs {
  position: relative; }
  .articleimgs ul {
    margin: 0px;
    padding: 1px;
    height: 330px;
    overflow: auto; }
  .articleimgs li {
    list-style: none;
    height: 330px;
    width: 324.5px;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-size: 27px;
    font-weight: 100;
    display: block;
    float: left;
    color: #003252;
    /* dark blue*/ }

.articleimgs li:hover {
  color: white;
  /* white*/ }

#one span {
  position: relative;
  top: 281px;
  left: 20px; }

#one a {
  background-color: rgba(0, 104, 184, 0.8);
  width: 325px;
  height: 330px;
  display: block;
  position: relative;
  float: left; }

#one a:hover {
  background-color: rgba(0, 104, 184, 0); }

#two span {
  position: relative;
  top: 281px;
  left: 20px; }

#two a {
  background-color: rgba(0, 104, 184, 0.8);
  width: 325px;
  height: 330px;
  display: block;
  position: relative;
  float: left; }

#two a:hover {
  background-color: rgba(0, 104, 184, 0); }

#three span {
  position: relative;
  top: 242px;
  left: 20px; }

#three a {
  background-color: rgba(0, 104, 184, 0.8);
  width: 324px;
  height: 330px;
  display: block;
  position: relative;
  float: left; }

#three a:hover {
  background-color: rgba(0, 104, 184, 0); }

#four span {
  position: relative;
  top: 281px;
  left: 20px; }

#four a {
  background-color: rgba(0, 104, 184, 0.8);
  width: 327px;
  height: 330px;
  display: block;
  position: relative;
  float: left; }

#four a:hover {
  background-color: rgba(0, 104, 184, 0); }

#one #two #three #four {
  height: 330px;
  margin: 0px; }

#one {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-1.jpg"); }

#two {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-2.jpg"); }

#three {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-3.jpg"); }

#four {
  background-image: url("https://raw.githubusercontent.com/tiy-atlanta-js/Assignments/master/Assignment%2003/assets/article-image-4.jpg"); }

.copywrite {
  height: 76px;
  background-color: #003152;
  color: #9fb3c1;
  padding: 25px 100px 0px 165px;
  margin: 0px 0px 0px 0px; }
  .copywrite img {
    margin: 0px 5px -7px 0px; }
  .copywrite span {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 12px;
    font-size: 13px; }

.footernav {
  position: relative;
  float: right;
  font-size: 14px;
  padding: 0px 42px 1px 1px; }
  .footernav li {
    display: inline; }

/*# sourceMappingURL=style.css.map */
